<div class="chat-container">
    <div class="chat-header">
        <h2><i class="fas fa-gamepad"></i> Tienda Gamer Chat</h2>
    </div>

    <div class="chat-window" id="messageLogs"></div>

    <div class="chat-input-container">
        <input type="text" placeholder="Escribe un mensaje..." name="message" id="chatBox" class="form-control">
    </div>
</div>