<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <form id="login-form" class="p-5 rounded shadow bg-white">
                <h2 class="text-center mb-5">Iniciar sesión</h2>
                <div class="form-group mb-4">
                    <label for="username">Usuario:</label>
                    <input placeholder="user@gmail.com" type="text" id="email" name="username" class="form-control"
                        required />
                </div>
                <div class="form-group mb-4">
                    <label for="password">Contraseña:</label>
                    <input type="password" id="password" name="password" class="form-control" required />
                </div>
                <button id="login" type="submit" class="btn btn-primary btn-block">Ingresar</button>
                <button id="signup" type="submit" class="btn btn-info btn-block">Signup</button>
                <a href="/github" class="btn btn-dark btn-block">
                    <i class="fab fa-github"></i> Entrar con GitHub
                </a>
            </form>
        </div>
    </div>
</div>